html,body,ul,li,dt,dd,dl,div,a{
  margin: 0;
  padding: 0;
}

ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}

/*panel*/
.panel{
  height: 500px;
  margin-bottom: 50px;
  position: relative;
}
.vc-tape-wrapper{
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  -ms-perspective: 800px;
  perspective: 800px;
}
.vc-tape{
  width: 586px;
  height: 379px;
  margin: 30px auto 0;
  position: relative;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
.vc-tape-back{
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent url(../images/cs_back.png) no-repeat center center;
}
.vc-tape-wheel{
  width: 125px;
  height: 125px;
  position: absolute;
  top: 110px;
  background: transparent;
  border-radius: 50%;
}
.vc-tape-wheel-left{
  left: 109px;
  box-shadow: 0 0 0 70px #000;
}
.vc-tape-wheel-right{
  right: 113px;
}
@-webkit-keyframes rotateLeft{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(-360deg) translateZ(-1px);}
}
@-webkit-keyframes rotateRight{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(360deg) translateZ(-1px)}
}
@-moz-keyframes rotateLeft{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(-360deg) translateZ(-1px);}
}
@-moz-keyframes rotateRight{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(360deg) translateZ(-1px)}
}
@-ms-keyframes rotateLeft{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(-360deg) translateZ(-1px);}
}
@-ms-keyframes rotateRight{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(360deg) translateZ(-1px)}
}
@-o-keyframes rotateLeft{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(-360deg) translateZ(-1px);}
}
@-o-keyframes rotateRight{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(360deg) translateZ(-1px)}
}
@keyframes rotateLeft{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(-360deg) translateZ(-1px);}
}
@keyframes rotateRight{
  0% {-webkit-transform: rotate(0deg) translateZ(-1px);}
  100% {-webkit-transform: rotate(360deg) translateZ(-1px)}
}
.vc-tape-wheel div{
  width: 100%;
  height: 100%;
  background: transparent url(../images/cs_wheel.png) no-repeat center center;
}
.vc-tape-font{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent url(../images/cs_front.png) no-repeat center center;
}
.vc-tape-side-b{
  display: none;
  -webkit-transform: rotate3d(0, 1, 0, 180deg);
  -0-transform: rotate3d(0, 1, 0, 180deg);
  -ms-transform: rotate3d(0, 1, 0, 180deg);
  -moz-transform: rotate3d(0, 1, 0, 180deg);
  transform: rotate3d(0, 1, 0, 180deg);
}
